<footer style="background-color: #ee9972">
  <nav>
    <ul>
      <li style="display: inline-block; width: 120px">Home</li>
      <li style="display: inline-block; width: 120px">About</li>
      <li style="display: inline-block; width: 120px">Menu</li>
    </ul>
  </nav>
</footer>

<!-- Working the same as the above -->

<!-- <footer style="background-color: #ee9972">
  <nav>
    <ul>
      <li style="display: inline-block; width: 120px">
        <a href="{% url 'home' %}">Home</a>
      </li>
      <li style="display: inline-block; width: 120px">
        <a href="{% url 'about' %}">About</a>
      </li>
      <li style="display: inline-block; width: 120px">
        <a href="{% url 'menu' %}">Menu</a>
      </li>
    </ul>
  </nav>
</footer> -->
